;WHATauto credentials.conf

;nickowner= the ident (i.e. 123@username.class.what.cd, or 123@username.*.what.cd to match all userclasses)
;username= your site username
;password= your site password
;botNick= the nick you want your bot to use
;ircKey= your gazelle-based key login
;nickServPass= your nickServPass password
;cmd= using the "cmd" option during startup you can send a raw command to the server, in most case the toggle for a vhost
;watch= place where manual downloads go
;ircusesignon= set to 1 if the irc server requires a password to be sent
;ircpassword= put the password for the irc server here (useful for bnc's)
;channelpassword= if the announce channel requires a password
;chanfilter= channels to join automatically

;
;The following networks are currently supported by pyWHATauto
;

[animebytes] 
nickowner=
username=
password=
botnick=
nickservpass=
irckey=
chanfilter=

[apollo] 
nickowner=
username=
password=
botnick=
nickservpass=
irckey=
chanfilter=

[awesomehd]
nickowner=
username=
password=
botnick=
nickservpass=
irckey=
chanfilter=

[baconbits]
nickowner=
username=
password=
botnick=
nickservpass=
chanfilter=

[bd25]
nickowner=
username=
password=
;irc currently not set up due to missing announce channel.

[bibliotik]
nickowner=
username=
password=
;irc currently not set up due to missing announce channel

[bitgamer] 
nickowner=
username=
password=
botnick=
nickservpass=
chanfilter=

[bithdtv]
nickowner=
username=
password=
botnick=
nickservpass=
channelpassword=
chanfilter=

[bitme]
nickowner=
username=
password=
botnick=
irckey=
nickservpass=
chanfilter=

[bitmetv]
nickowner=
username=
password=
botnick=
irckey=
nickservpass=
chanfilter=
cmd=
;watch=

[broadcasthenet]
;BTN has a wierd irckey system - you will need to identify to the bot once manually.
nickowner=
chanfilter=#whatbot
username=
password=
botnick=
nickservpass=
;watch=

[brokenstones]
nickowner=
username=
password=
botnick=
nickservpass=
chanfilter=
watch=

[delish]
nickowner=
username=
password=
botnick=
nickservpass=
irckey=
;watch=

[digitalhive]
nickowner=
username=
password=
botnick=
nickservpass=
chanfilter=

[fux0r]
nickowner=
;chanfilter=
username=
password=
botnick=
nickservpass=
;watch=

[gazellegames]
nickowner=
username=
password=
botnick=
nickservpass=
irckey=

[hdbits]
;hdbits downloading requires having the passkey set below!
nickowner=
username=
password=
botnick=
irckey=
nickservpass=
passkey=
chanfilter=#blubba
;watch=

[iptorrents]
nickowner=
botnick=
username=
nickservpass=

[karagarga]
nickowner=
botnick=
username=
password=
nickservpass=
chanfilter=

[lztr]
nickowner=
botnick=
username=
password=
nickservpass=
irckey=

[morethantv]
nickowner=
username=
password=
botnick=
irckey=
nickservpass=
chanfilter=#announce
;watch=

[notwhat]
nickowner=
username=
password=
botnick=
nickservpass=
irckey=
chanfilter=#notwhat.cd-announce
;watch=

[thegft]
nickowner=
chanfilter=
username=
password=
botnick=
irckey=
nickservpass=

[redacted]
nickowner=
chanfilter=#whatbot
username=
password=
botnick=
irckey=
nickservpass=
;watch=

[passthepopcorn]
nickowner=
username=
password=
passkey=
botnick=
nickservpass=
chanfilter=#whatbot
;watch=

[pianosheets]
;No irc announce channel (afaik)
nickowner=
username=
password=

[pretome]
nickowner=
chanfilter=
username=
password=
botnick=
nickservpass=
;watch=

[piratethenet]
nickowner=
username=
password=
botnick=
irckey=
nickservpass=

[pwnnetwork]
nickowner=
username=
password=
botnick=
nickServPass=
irckey=
;watch=

[sceneaccess]
nickowner=
username=
botnick=
nickservpass=
passkey=
chanfilter=
cmd=
;watch=

[scenehd]
nickowner=
username=
password=
botnick=
nickservpass=
irckey=
chanfilter=#blubba
;watch=

[sciencehd]
nickowner=
username=
password=
botnick=
nickServPass=
irckey=
;watch=

[sharetheremote]
nickowner=
username=
password=
botNick=
nickServPass=
chanfilter=
;watch=

[shellife]
nickowner=
username=
password=

[stopthepresses]
nickowner=
username=
password=
botNick=
nickServPass=
chanfilter=#whatbot
irckey=
;watch=
[tehconnection]
nickowner=
username=
password=
botnick=
nickservpass=
irckey=
chanfilter=
;watch=

[theempire]
nickowner=
username=
password=
botNick=
irckey=
nickServPass=
chanfilter=
;watch=

[thebox]
nickowner=
username=
password=
botNick=
irckey=
nickServPass=
;watch=

[theplace]
nickowner=
username=
password=
botNick=
irckey=
nickServPass=
chanfilter=
;watch=

[theswarm]
nickowner=
username=
password=
irckey=
botNick=
nickServPass=

[tophos]
nickowner=
username=
password=
botNick=
nickServPass=
chanfilter=
;watch=

[torrentbytes]
nickowner=
username=
password=
irckey=
botnick=
nickservpass=

[torrentleech]
nickowner=
username=
botNick=
nickservpass=
;watch=

[torrentvault]
nickowner=
chanfilter=
username=
password=
botNick=
nickServPass=
;watch=

[undergroundgamer]
nickowner=
username=
password=
botnick=
nickservpass=

[waffles]
;waffles doesn't have an irc announce channel anymore.
username=
password=

[whatcd]
nickowner=
chanfilter=#whatbot
username=
password=
botnick=
irckey=
nickservpass=
;watch=

[x264]
nickowner=
username=
password=
botnick=
nickservpass=
channelpassword=
