[BTN_720p_HDTV_scene]
site=broadcasthenet
filterType=video
active=0
resolution=720p
scene=1
source=hdtv
series=NCIS
	NCIS: Los Angeles
	The Big Bang Theory
	Stargate Universe
	Dexter
	The Simpsons
	The Walking Dead
	Grey's Anatomy
	Gossip Girl
	V (2009)
	Top Gear
	Breaking In
	The Daily Show with Jon Stewart
	Alphas
	Pawn Stars
size=0,2000

[BTN_720p_web]
site=broadcasthenet
filterType=video
active=0
resolution=720p
source=WEB
series=Community
	Doctor Who (2005)
	Breaking In
	Top Gear
	Alphas
size=0,3000

[BTN_720p_HDTV_any]
site=broadcasthenet
filterType=video
active=0
resolution=720p
source=hdtv
series=Game of Thrones

[BTN_1080p_HDTV_noscene]
site=broadcasthenet
filterType=video
active=0
resolution=720p
scene=0
source=hdtv
series=Game of Thrones

[hdb_720p_webdl_buffer]
site=hdbits
active=0
filterType=hd
category=TV
title=@.*720p.*(?:Web.?DL|HDTV).*
size=0,2000

[hdb_specificmovies]
site=hdbits
active=0
filterType=hd
category=movie
title=@(?:Source.?Code|The.?Adjustment.?Bureau|Wild.?Wild.?West|Sucker.?Punch|Limitless|Unknown|Rango|Fast.?Five|Paul|Les.?Diaboliques|Drive.?Angry|True.?Grit|Battle.*Los.?Angeles|The.?People.?vs.?Larry.?Flynt|Solyaris|I.?Saw.?The.?Devil|Blue.?Valentine|Papillion|Philadelphia|American.?Graffiti|Just.?Go.?With.?It|Chugyeogja).*

[hdb_specificseries]
site=hdbits
active=0
filterType=hd
category=TV
title=@(?:Game.?of.?Thrones|South.?Park|Doctor.?Who).*

[hdb_specificporn]
site=hdbits
active=0
filterType=hd
category=xxx
title=@X.?Art.*

[hdb_allporn]
site=hdbits
active=0
filterType=hd
category=xxx
not_title=@Creampie.?Angels.*
size=0,20000

[thebox_buffer]
site=thebox
filterType=misc
active=0
name=@^(?:Coronation Street|Coach Trip|Hollyoaks|The Lock Up|Emmerdale|Doctors|Lunch Monkeys - S02|EastEnders).*

[RED_500MB_to_5GB]
site=redacted
filterType=music
active=1
size=500,5000
