;WHATauto setup.conf
[setup]
;This is the folder that all torrents will download to by default, unless over-ridden by another setting in credentials.conf/filters.conf.


torrentDir=


;This is the drive that pyWHATauto will report free space on.

drive= 


;Most seedbox providers don't use quota, so it can be impossible to find out
;progmatically how much space is available to a user. Fill in how much space is dedicated 
;to you. If you leave this blank then it will try to autofill, but unless you 
;own the entire drive (and not just a subfolder) it will be wrong!
;This number should be in gigabytes.
limit=

;options in increasing verbosity are: 
;'error','msg','info','cmd','filter','debug'
;msg means only error messages and chatter will show up.
;by setting verbosity:msg and chatter:0, that is the same thing as verbosity:error
verbosity=filter

;This will write a continual log of the output to file. 
;Every time pyWA is run a new log will be created.
log= 1

;Should the random chatter (messages etc) from the channels show up in your output?
chatter= 0

;This will delay torrents from downloading for x many seconds after a match is made.
;This helps combat some trackers that announce before the torrent is available.
;This setting is universal, but only applies to automatic downloads.
delay=3

;At what percentage should pyWA stop downloading torrents?
freePercent= 5

;WEBUI password
password=
;WEBUI port
port=
;WEBUI IP (only required if you want to bind the server to a specific ip)
webserverip=
webserverssl=0
; full path to server certfile
; openssl req -new -x509 -keyout /home/pywhatauto/server.pem -out /home/pywhatauto/server.pem -days 365 -nodes
certfile=/home/pywhatauto/server.pem

[notification]
gmail= j5@gmail.com
password= xxxx
email= 0

server= whatcd
nick= yournick
message= 0

[sites]
;this will enable or disable each network
alphaomega= 0
animebytes= 0
apollo= 0
awesomehd = 0
baconbits = 0
BD25= 0
bibliotik= 0
bitgamer= 0
bitme= 0
bitmetv= 0
broadcasthenet= 0
brokenstones= 0
delish= 0
digitalhive= 0
fux0r= 0
gazellegames= 0
hdbits= 0
iptorrents= 0
karagarga= 0
lztr=0
morethantv=0
notwhat=0
redacted= 0
passthepopcorn= 0
pretome= 0
pianosheets= 0
piratethenet= 0
pwnnetwork= 0
quorks = 0
sceneaccess= 0
scenehd= 0
sciencehd= 0
sharetheremote= 0
shellife=0
stopthepresses=0
tehconnection= 0
thebox= 0
theempire= 0
thegft= 0
theplace= 0
theswarm = 0
tophos= 0
torrentbytes= 0
torrentleech= 0
torrentvault= 0
undergroundgamer= 0
waffles= 0
whatcd= 0
x264= 0

[aliases]
;change the alias used in commands on IRC. Only 1 alias per network.
animebytes= ab
apollo= apl
awesomehd= ahd
baconbits= bb
bd25= b25
bibliotik= biblio
bitgamer= bg
bitme = bme
bitmetv= bmtv
broadcasthenet= btn
brokenstones= bs
delish= deli
digitalhive= dh
fux0r= hfu
gazellegames= ggames
hdbits= hdb
iptorrents= ipt
karagarga= kg
lztr= lz
morethantv= mtv
notwhat= nwcd
redacted = red
passthepopcorn = ptp
pretome= ptme
pianosheets= piash
piratethenet= ptn
pwnnetwork= pwn
quorks = quo
sceneaccess= scc
scenehd= schd
sciencehd= shd
sharetheremote= str
shellife= shl
stopthepresses=stp
thebox=tbox
theempire=te
thegft= gft
tehconnection= tc
theplace= tp
theswarm = ts
tophos= top
torrentbytes= tbytes
torrentvault= tv
torrentleech= tl
undergroundgamer= ug
waffles= waf
whatcd= what

[debug]
;Setting this allows for you to do even more in-depth debugging. It will ONLY connect to one network, does not use threads, and will show
;extended tracebacks during a crash. 
testing = 0
